<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #F7F8FA;
      font-family: 'Poppins', sans-serif;
      color: #46444c;
      position: relative;
      border: solid 6px #5A45FF;
      height: 100vh;
    }

    main {
      margin: auto;
      height: 50vh;
      padding: 0 30px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    main div {
      width: 32vw;
      text-align: center;
    }

    a {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    a:hover {
      cursor: pointer;
    }

    header {
      margin-top: 5vh;
      text-align: center;
    }

  </style>
</head>
<body>
  <header>
    <h1>Welcome to Dashboard</h1>
  </header>
  <main>
    <div>
      <a href="addUser">Add new User</a>
    </div>
    <div>
      <a href="listUsers">List Users</a>
    </div>
  </main>
</body>
</html>
