<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Users</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #F7F8FA;
      font-family: 'Poppins', sans-serif;
      color: #46444c;
      position: relative;
      border: solid 6px #5A45FF;
      height: 100vh;
    }

    main {
      margin: auto;
      margin-top: 5vh;
      max-height: 60vh;
      padding: 0 30px;
      overflow: auto;
    }

    main table {
      width: 100%;
      text-align: center;
      overflow: auto;
      border-collapse: collapse;
    }

    main table td,th,tr {
      border: 3px solid #ddd;
      padding: 8px;
    }

    a {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    a:hover {
      cursor: pointer;
    }

    header {
      margin-top: 5vh;
      text-align: center;
    }

    footer {
      position: absolute;
      bottom: 0;
      background-color: #232F3E;
      color: #fff;
      width: 100%;
      text-align: center;
    }
  </style>
</head>
<body>
  <header>
    <h1>Users List</h1>
  </header>
  <main>
    <table>
      <tr>
        <th>Sr. No.</th>
        <th>Username</th>
        <th>Email-ID</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      @if(!users || users.length == 0)
        <tr><td colspan="6">No user in records</td></tr>
      @else
        @set('counter',1)
        @each(user in users)
          <tr>
            <td>{{counter}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td><a href='/listUsers/edit?username={{user.username}}&email={{user.email}}&role={{user.role}}'>Edit</a></td>
            <td><a href='javascript:deleteUser("{{user.username}}","{{user.email}}","{{user.role}}")'>Delete</a></td>
          </tr>
          @set('counter',counter+1)
        @end       
      @end
    </table>
  </main>
  @if(flashMessages.has('status'))
  <footer> {{ flashMessages.get('status') }} </footer>
  @end
  <script>
        function deleteUser(username, email, role) {
            if(confirm("Are you sure want to delete this user?")) {
                window.open(`/listUsers/delete?username=${username}&email=${email}&role=${role}`,'_self');
            }
        }
  </script>
</body>
</html>
